AppMarinellysFigueroa/src/wsdl/localhost_8081/WS/CalculateTotalValue.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://ws.informamos.beitech.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.informamos.beitech.com/">

<xs:element name="total" type="tns:total"></xs:element>

<xs:element name="totalResponse" type="tns:totalResponse"></xs:element>

<xs:complexType name="total">
<xs:sequence>
<xs:element name="arg0" type="xs:double" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="totalResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>